#statuspanel {
  margin: 10px !important;
}

#statuspanel-label {
  border-radius: 10000px !important;
  padding: 2px 10px !important;
  border: 1px rgb(77, 81, 86) solid !important;
  background: rgb(2, 2, 3) !important;
}
